{% extends "base.html" %}

{% block title %}BGM - Contact Us{% endblock title %} 

<!--Calendar Page Content --> 
{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
	<h2 style="text-align: center;"><img src="\static\images\erminespot-med.png" style="height: 35px">  Contact Us  <img src="\static\images\erminespot-med.png" style="height: 35px"></h2>
<form action="/contact/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
  </div>
</div>
{% endblock %}