{% extends "base.html" %}

{% block title %}BGM - Home{% endblock title %}

<!--Home Page Content -->
{% block content %}
    <div class="panel panel-default">
        <div class="panel-body">
            <img src="/static/images/banner.jpg" style="width: 100%" height="350px" alt="..." class="img-rounded">

            <p><br>
                Welcome to the Seventh Wonder of Atenveldt! We are the Barony of Granite Mountain, a local branch of the
                <a href="http://sca.org" target="_blank">Society for Creative Anachronism (S.C.A.)</a> covering
                Prescott, Prescott Valley, Chino Valley and the surrounding areas. If you are outside
                this area you may want to visit our sister Baronies. To the north of us you’ll find the Shire of Windale
                and the Barony of
                Ered Sul, along with the College of Sankt Vladmir. To the south of us, in the Phoenix Metro area you’ll
                find the Barony of
                Atenveldt, the Barony of Sundragon and the Barony of Twin Moons, along with the College of Brymstonne.
                The Barony is just
                one group within the Kingdom of Atenveldt.
            </p>

            <p>
                ​The SCA is an international organization dedicated to researching and re-creating
                the arts and skills of pre-17th-century Europe. Our "Known World" consists of 19 kingdoms, with over
                30,000 members residing
                in countries around the world. Members, dressed in clothing of the Middle Ages and Renaissance, attend
                events which feature
                tournaments, royal courts, feasts, dancing, various classes & workshops, and more.
            </p>

            <p>
                Look around the site, if you are new to
                the SCA, check out the Newcomer's FAQ. If you need more direct feedback, check out the officer list here
                or email the Seneschal.
                Take a look at the BGM Facebook page or join our (unofficial) Baronial Email list.
            </p>
        </div>
    </div>



{% endblock %}

