{% extends "base.html" %}

{% block title %}BGM - Officers{% endblock title %} 

 
{% block content %}
<!--Calendar Page Content -->
<div class="panel panel-default">
  	<div class="panel-body">
    	
    	<h2 style="text-align: center;"><img src="\static\images\erminespot-med.png" style="height: 35px">  Officers  <img src="\static\images\erminespot-med.png" style="height: 35px"></h2>
        
        <table class="table table-striped">
            <thead>
                <tr>
                	<th></th>
                    <th>Officer:</th>
                    <th>Deputies:</th>
                </tr>
    		</thead>
            <!-- Officer positions listed here -->
            <tbody>
                <tr>
                	<td><img src="\static\images\BGMLogo-sm.png" style="height: 90px;"></td>
                    <td><label>Baron and Baroness</label><br>Lutold and Elsbeth von Sonnenthal<br>Robin and Jeri Bullins<br>bgmcoronet@gmail.com</td>
                    <td></td>
                </tr>
                <tr>
                	<td><img src="\static\images\seneschal.png" style="height: 70px;"></td>
                    <td><label>Seneschal</label><br>Bannthegn Elizabeta de Wallachia<br>Heather Morgan<br>bogmseneschal@gmail.com</td>
                    <td><label>Deputy Seneschal</label><br>HE Master Conor de Carltona<br>Mike Dever<br>bogmseneschal@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="\static\images\exchequer.png" style="height: 70px;"></td>
                    <td><label>Exchequer</label><br>Sayyida Aziza al Labua bint Ibrahim Ibn Rashid al rahhala<br>Christina Symington<br>exchequerbgm@gmail.com</td>
                    <td><label>Deputy Exchequer</label><br>Lady Beth of Granite Mountain<br>Beth Havok<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="\static\images\heralds.png" style="height: 70px;"></td>
                    <td><label>Herald (Voice)</label><br>Vacant<br>&nbsp;<br>bgmherald@gmail.com</td>
                    <td><label>Deputy Herald (Book/Submissions)</label><br>M'lady Segnat ingen Rogailligh<br>Helen Keeter<br>bgmherald@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="\static\images\earlmarshal.png" style="height: 70px;"></td>
                    <td><label>Marshal (Armored Combat)</label><br>Lord Sa'id al Sabbah<br>Josh Sink<br>bgmmarshal@gmail.com</td>
                    <td><label>Deputy Marshal (Armored Combat)</label><br>Lord James Marion<br>James Marion<br>bgmmarshal@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="\static\images\rapier.png" style="height: 70px;"></td>
                    <td><label>Rapier Marshal</label><br>Lord Kitajima Ichirou Matai<br>Matthew Supulver<br>bgmrapiermarshal@gmail.com</td>
                    <td><label>Deputy Rapier Marshal</label><br>Lord Janquith Telewin<br>Chad Wheeler<br>bgmrapiermarshal@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="\static\images\archery.png" style="height: 70px;"></td>
                    <td><label>Archery Marshal (Baronial Captain of Archery)</label><br>Lord Rustand Drache<br>Mike Havok<br>bgmarcherymarshal@gmail.com</td>
                    <td><label>Deputy Archery Marshal (Lieutenant of Archery)</label><br>M'lord Po'l McCoilean<br>Jim Koile<br>bgmarcherymarshal@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="\static\images\aNs.png" style="height: 70px;"></td>
                    <td><label>Minister of Arts and Sciences</label><br>Lady Cynthia de la Dale<br>Cynthia Rindone<br>bgmasmin@gmail.com</td>
                    <td><label>Deputy Minister of Arts and Sciences</label><br>M'lady Camere de Misericordia<br>Dani Koile<br>bgmasmin@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="\static\images\chronicler.png" style="height: 70px;"></td>
                    <td><label>Chronicler</label><br>Lady Allesia de Canaberiis<br>Alice Annie Wheeler<br>bgmchronicler@gmail.com</td>
                    <td><label>Deputy Chronicler</label><br>M'lady Laura<br>Laura Marr Mittlestadt<br>bgmchronicler@gmail.com</td>
                </tr>
                <tr>
                	<td><img src="\static\images\chatelaine.png" style="height: 70px;"></td>
                    <td><label>Chatelaine</label><br>Lady Sybil Thomasin Josina Ragland<br>Jessica Ragland<br>bgmchatelain@gmail.com</td>
                    <td><label>Deputy Chatelaine</label><br>Vacant<br>&nbsp;<br>bgmchatelain@gmail.com</td>
                </tr>
                <tr>
                	<td></td>
                    <td><label>Signet</label><br>HE Comptesse Caroline Marie de Fontenailles<br>Carolyn Dever<br>bgmsignet@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="\static\images\sheriff.png" style="height: 70px;"></td>
                    <td><label>Sheriff</label><br>Vacant<br>&nbsp;<br>bgmsheriff@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="\static\images\list.png" style="height: 70px;"></td>
                    <td><label>List</label><br>Vacant<br>&nbsp;<br>&nbsp;</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td>&nbsp;</td>
                    <td><label>Waiver Secretary</label><br>Vacant<br>&nbsp;<br>bgmwaivers@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="\static\images\kids.png" style="height: 70px;"></td>
                    <td><label>Youth Minister</label><br>Vacant<br>&nbsp;<br>bgmyouthmin@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
                <tr>
                	<td><img src="\static\images\webminister.png" style="height: 70px;"></td>
                    <td><label>Web Minister</label><br>Vacant<br>&nbsp;<br>bgmwebmin@gmail.com</td>
                    <td><label>&nbsp;</label><br>&nbsp;<br>&nbsp;<br>&nbsp;</td>
                </tr>
            </tbody>
        </table>
	</div>
</div>
<!--End Page Content -->
{% endblock %}
