{% extends "base.html" %}

{% block title %}BGM - Baronial Champions{% endblock title %} 

 
{% block content %}
<!--Champions Page Content -->
<div class="panel panel-default">
  	<div class="panel-body">
        	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Baronial Champions  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>

        <table class="table table-striped">
            <thead>
                <tr>
                	<!--<th></th>-->
                    <th>Title:</th>
                    <th class="col-md-6">Champion:</th>
                </tr>
    		</thead>
            <tbody>
                <tr>
                	<!--<td><img src="\static\images\BGMLogo-sm.png" style="height: 80px;"></td>-->
                    <td><img src="/static/images/champs.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                        <label>Baronial Armored Combat Champion</label><br></td>
                    <td>H.E. Sir Brian Winterborn</td>
                </tr>
                <tr>
                    <td><label>Baronial Rapier Champion</label><br></td>
                    <td>Lord James Marion</td>
                </tr>
                <tr>
                    <td><label>Baronial Archery Champion</label><br></td>
                    <td>Lord William the Gravedigger</td>
                </tr>
                <tr>
                    <td><label>Baronial Arts and Sciences Champion</label><br></td>
                    <td>Lord Rustand Drache</td>
                </tr>
                <tr>
                    <td><label>Baronial Bardic Champion, Bard of Wonder</label><br></td>
                    <td>H.E. Lia Winterborn</td>
                </tr>
            </tbody>
        </table>
        
                	<h2 style="text-align: center;"><img src="/static/images/erminespot-med.png" style="height: 35px">  Baronial Champions History  <img src="/static/images/erminespot-med.png" style="height: 35px"></h2>
        <!--
                <table class="table table-striped">
            <thead>
                <tr>
                	<!--<th></th>
                    <th>Title:</th>
                    <th class="col-md-6">Champion:</th>
                </tr>
    		</thead>
            <tbody>
                <tr>
                	<!--<td><img src="\static\images\BGMLogo-sm.png" style="height: 80px;"></td>
                    <td><img src="/static/images/champs.png" style="position: absolute; width: 70px; margin-left: -93px; margin-top: -10px">
                        <label>Baronial Armored Combat Champion</label><br></td>
                    <td>H.E. Sir Brian Winterborn</td>
                </tr>
                <tr>
                    <td><label>Baronial Rapier Champion</label><br></td>
                    <td>Lord James Marion</td>
                </tr>
                <tr>
                    <td><label>Baronial Archery Champion</label><br></td>
                    <td>Lord William the Gravedigger</td>
                </tr>
                <tr>
                    <td><label>Baronial Arts and Sciences Champion</label><br></td>
                    <td>Lord Rustand Drache</td>
                </tr>
                <tr>
                    <td><label>Baronial Bardic Champion, Bard of Wonder</label><br></td>
                    <td>H.E. Lia Winterborn</td>
                </tr>
            </tbody>
        </table>
        -->
	</div>
</div>
<!--End Page Content -->
{% endblock %}
